<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>443447322284-u72ks9p25ioqgtgeddemsg0c4a24sfkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443447322284-u72ks9p25ioqgtgeddemsg0c4a24sfkr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMESpkxfGrXULYz9gWZ_LKyQWbpTIz4_8</string>
	<key>GCM_SENDER_ID</key>
	<string>443447322284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.descartae.ios</string>
	<key>PROJECT_ID</key>
	<string>descartae-53e38</string>
	<key>STORAGE_BUCKET</key>
	<string>descartae-53e38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443447322284:ios:a6b22ccc1795e7d1</string>
	<key>DATABASE_URL</key>
	<string>https://descartae-53e38.firebaseio.com</string>
</dict>
</plist>